@font-face{font-family:"PT Sans",'Helvetica Neue',Arial,Helvetica,sans-serif;font-weight:normal;font-style:normal}
*{font-family:"PT Sans",'Helvetica Neue',Arial,Helvetica,sans-serif}
a{color:#0071BC;-webkit-transition:all 0.2s;-moz-transition:all 0.2s;-ms-transition:all 0.2s;-o-transition:all 0.2s;transition:all 0.2s}
a:hover,a:active{color:#d33d44;-webkit-transition:all 0.2s;-moz-transition:all 0.2s;-ms-transition:all 0.2s;-o-transition:all 0.2s;transition:all 0.2s}
ul,ol,dl,p{font-size:0.85rem}
p{line-height:1.6em;margin-bottom:0.5rem}
header{height:auto;line-height:1em;padding:0;box-shadow:none;border-bottom:1px solid #e7e7e7;display:flex;background:#AC8A39}
header .header-image{float:left;padding:0.9375rem}
header .header-image img{max-height:100px}
header .header-title{width:100%;padding:0.9375rem;position:relative}
header .header-title h1{font-style:italic;font-size:26px;font-weight:500;color:#fff;margin:0;position:absolute;bottom:0.9375rem;left:0}
header h1{color:#fff}
h3{font-family:'Roboto',sans-serif;font-size:27px;line-height:30px;font-weight:300;-webkit-font-smoothing:antialiased;margin:1em 0 0.5em}
h4{font-family:'Roboto',sans-serif;font-size:18px;line-height:1.2em;font-weight:400;-webkit-font-smoothing:antialiased;margin:1em 0 0.5em}
h5{font-family:'Roboto',sans-serif;font-size:15px;line-height:1.2em;font-weight:400;-webkit-font-smoothing:antialiased;margin:2em 0 0.5em}
.more{color:#ffffff;background-color:#d33d44;padding:15px;margin-top:10px}
.home>.message,.row{margin:0 auto;max-width:940px}
.alert{background-color:#fff9e1;font-size:12px;text-align:center;display:block;padding:12px;border-bottom:2px solid #ffcf06}
.alert{background-color:#fff9e1;font-size:12px;display:block;padding:12px;border-bottom:2px solid #ffcf06;margin-bottom:30px;color:#404041}
.alert p{margin:0;font-size:12px;line-height:1.4}
.alert p:before{color:#ffcf06;content:"\0055";font-family:'cakefont',sans-serif;font-size:21px;margin-left:-0.8em;width:2.3em;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;padding:0 10px 0 15px;vertical-align:-2px}
.alert ul{margin:0;font-size:12px}
.alert.url-rewriting{background-color:#F0F0F0;border-color:#cccccc;display:none}
.text-center{text-align:center}
ul{list-style-type:disc;margin:0 0 30px 0;padding-left:0.9375rem}
li{margin-left:1.8em}
li p{margin-bottom:0.25rem}
ul li ul,ul li ul li{margin:0;padding:0}
.bullet:before{font-family:'cakefont',sans-serif;font-size:18px;display:inline-block;margin-left:-1.3em;width:1.2em;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;vertical-align:-1px}
.success:before{color:#88c671;content:"\0056"}
.problem:before{color:#d33d44;content:"\0057"}
.cutlery:before{color:#404041;content:"\0059"}
.book:before{color:#404041;content:"\0042";width:1.7em}
hr{border-bottom:1px solid #e7e7e7;border-top:0;margin:15px 0}
.icon{color:#404041;font-style:normal;font-family:'cakefont',sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.icon.support{font-size:60px}
.icon.docs{font-size:57px}
.icon.training{font-size:39px}
@media (min-width:768px){.columns{padding-left:30px;padding-right:30px}}
@media (min-width:992px){header.row{max-width:940px}}
ul.pagination li a{color:rgba(0, 0 ,0 , 0.54)}
ul.pagination li.active a{background-color:#DCE47E;color:#FFF;font-weight:bold;cursor:default}
ul.pagination .disabled:hover a{background:none}
.paginator{text-align:center}
.paginator ul.pagination li{float:none;display:inline-block}
.paginator p{text-align:right;color:rgba(0, 0 ,0 , 0.54)}
.asc:after{content:" \2193"}
.desc:after{content:" \2191"}
.form .error-message{display:block;padding:0.375rem 0.5625rem 0.5625rem;margin-top:-1px;margin-bottom:1rem;font-size:0.75rem;font-weight:normal;font-style:italic;color:rgba(0, 0, 0, 0.54)}
label{font-weight:bold}
.description{background:#eee;padding: 0 0.9375rem}
select[multiple]{min-height:150px;background:none}
input[type=checkbox],input[type=radio],.error input[type="checkbox"],.error input[type="radio"]{margin:0 0.5em 0.2em 0}
.date select,.time select,.datetime select{display:inline;width:auto;margin-right:10px}
.error label,.error label.error{color:#C3232D;font-weight:bold}
.error textarea,.error input{background-color:#fee}
.error .error-message{color:#C3232D;font-size:0.8em;margin:0 0 0.5em}
.view h2{color:#6F6F6F}
.view .columns.strings{border-radius:3px;box-shadow:1px 2px 4px rgba(0, 0, 0, 0.24);margin-right:0.7rem}
.view .numbers{background-color:#B7E3EC;color:#FFF;border-radius:3px;box-shadow:1px 2px 4px rgba(0, 0, 0, 0.24);margin-right:0.7rem}
.view .columns.dates{border-radius:3px;box-shadow:1px 2px 4px rgba(0, 0, 0, 0.24);margin-right:0.7rem;background-color:#DCE47E;color:#fff}
.view .columns.booleans{border-radius:3px;box-shadow:1px 2px 4px rgba(0, 0, 0, 0.24);margin-right:0.7rem;background-color:#8D6E65;color:#fff}
.view .strings p{border-bottom:1px solid #eee}
.view .numbers .subheader, .view .dates .subheader{color:#747474}
.view .booleans .subheader{color:#E9E9E9}
.view .texts .columns{margin-top:1.2rem;border-bottom:1px solid #eee}
/** Notices and Errors **/
.cake-error,.cake-debug,.notice,p.error,p.notice{display:block;clear:both;background-repeat:repeat-x;margin-bottom:18px;padding:7px 14px;border-radius:3px;box-shadow:1px 2px 4px rgba(0, 0, 0, 0.24)}
.cake-debug,.notice,p.notice{color:#000000;background:#ffcc00}
.cake-error,p.error{color:#fff;background:#C3232D}
pre{background:none repeat scroll 0% 0% #FFF;box-shadow:1px 2px 4px rgba(0, 0, 0, 0.24);margin:15px 0px;color:rgba(0, 0 ,0 , 0.74);padding:5px}
.cake-error .cake-stack-trace{margin-top:10px}
.cake-stack-trace code{background:inherit;border:0}
.cake-code-dump .code-highlight{display:block;background-color:#FFC600}
.cake-error a,.cake-error a:hover{color:#fff;text-decoration:underline}
.checks{padding:30px;color:#626262;background-color:#B7E3EC;border-radius:3px;box-shadow:1px 2px 4px rgba(0, 0, 0, 0.24);margin-bottom:2em}
.checks h4{margin-bottom:1.5rem}
.checks hr{border:0;height:0;border-top:1px solid rgba(0, 0, 0, 0.1);border-bottom:1px solid rgba(255, 255, 255, 0.3)}
.checks .success,.checks .problem{margin-left:10px}
.checks .success:before,.checks .problem:before{line-height:0px;font-size:28px;height:12px;width:12px;border-radius:15px;text-align:center;vertical-align:middle;display:inline-block;position:relative;left:-11px}
.checks .success:before{content:"✓";color:green;margin-right:9px}
.checks .problem:before{content:"✘";color:red;margin-right:9px}
.top-bar.expanded .title-area{background:#01545b}
.top-bar.expanded, .top-bar,.top-bar-section ul li,.top-bar-section li:not(.has-form) a:not(.button){background:#116d76}
.top-bar-section li:not(.has-form) a:not(.button):hover{background-color:#308e97;background:#308e97}
.side-nav li.heading{color:#1798A5;font-size:0.875rem;font-weight:bold;text-transform:uppercase;padding:0.4375rem 0.875rem}
#actions-sidebar{background:#fafafa}
.index table{margin-top:0rem;border:0;width:100%;table-layout:fixed}
table{background:#fff;margin-bottom:1.25rem;border:none;table-layout:fixed;width:100%}
table thead{background:none}
table thead tr{border-bottom:1px solid #1798A5}
table tr th{padding:0.5625rem 0.625rem;font-size:0.875rem;color:#333;text-align:left;border-bottom:4px solid #666}
table tr:nth-of-type(even){background:none}
fieldset{border:none;padding:1.25rem;margin:1.125rem 0}
fieldset legend{border-bottom:2px solid #1798A5;width:100%;line-height:2rem}
.form button[type="submit"]{float:right;text-transform:uppercase;box-shadow:none}
.form button:hover, .form button:focus{background:#BE840B;box-shadow:none}
button{background:#966600}
div.message{text-align:center;cursor:pointer;display:block;font-size:0.9rem;font-weight:normal;padding:10px 1.5rem;transition:height 300ms ease-out 0s;background-color:#a0d3e8;color:#222;top:15px;right:15px;z-index:999;overflow:hidden;line-height:1.2em}
div.message:before{line-height:0px;font-size:20px;height:24px;width:24px;border-radius:15px;text-align:center;vertical-align:middle;display:inline-block;position:relative;left:-11px;background-color:#FFF;padding:13px 0 0 0;content:"i";color:#a0d3e8}
div.message.error{background-color:#C3232D;color:#FFF}
div.message.error:before{padding:11px 16px 14px 7px;color:#C3232D;content:"x"}
div.message.hidden{height:0}
.vertical-table th{padding:0.5625rem 0.625rem;font-size:0.875rem;color:#1798A5;border:none;text-align:left}
.vertical-table{vertical-align:middle}
.vertical-table td{text-align:right}
.content{padding:2rem}
/* Use 'one true layout' methods to get equal height columns */
.container{overflow:hidden;min-height:92%;/* full height almost always */}
/* Force equal height by overflowing */
.content,#actions-sidebar{margin-bottom:-99999px;padding-bottom:99999px}
@media(max-width:640px){#actions-sidebar{ padding-bottom:2rem; margin-bottom:0;}}
.content h3{color:#be140b;padding-bottom:0.5rem;margin-bottom:20px}
.content h4{color:#be140b;padding-bottom:0.5rem;margin-bottom:20px;border-bottom:2px solid #be140b}
.content .related h4{color:#4d8f97;padding-bottom:0.5rem;margin-top:20px;margin-bottom:10px;border-bottom:0px}
td{vertical-align:top;border:2px solid white;background-color:#eee}
td.green{background-color:#039b0b;color:white}
td.amber{background-color:#f89406;color:white}
td.red{background-color:#b94a48;color:white}
.label{color:#555;background:none;min-width:150px;text-align:left;padding:0;margin:0}
