.web-app-wrapper .waf-include {border-top:6px solid #777;border-bottom:6px solid #777;margin-bottom:50px}
.web-app-wrapper .waf-date{font-weight:bold;margin:0 0.2em}
.web-app-wrapper .waf-time{margin:0 0.2em}
.web-app-wrapper .waf-time:before{content:"("}
.web-app-wrapper .waf-time:after{content:")"}
.web-app-wrapper .waf-location{font-style:italic;margin:0 0.2em}
.web-app-wrapper .waf-menu-select.ui-widget.ui-widget-content{position:relative;width:100%;margin-top:1em;border:none}
.web-app-wrapper .waf-menu-select .ui-widget.ui-widget-content{border:none;padding:0;margin:0 0 1em 0;list-style:none}
#wrapper-main .paragraphs-item-form.web-app-wrapper .webform-client-form .waf-menu-select button,
.web-app-wrapper .waf-menu-select button{color:#333;font-size:0.875rem;text-align:left;margin:0;background:none;border:none;width:100%;padding:7px 25px 7px 5px;position:relative}
.web-app-wrapper .waf-menu-select button:hover,
.web-app-wrapper .waf-menu-select button.ui-state-active{color:#fff;background:#999}
.web-app-wrapper .waf-menu-select button .ui-icon{color:#333;position:absolute;top:5px;right:0;bottom:auto}
.web-app-wrapper .waf-menu-select li{margin:0;width:25%}
.web-app-wrapper .waf-menu-select li ul{width:72%}
.web-app-wrapper .waf-menu-select li ul li{margin:0;width:33%}
.web-app-wrapper .waf-menu-select li ul li ul{width:65%}
.web-app-wrapper .waf-menu-select li ul li ul li{margin:0;width:50%}
.web-app-wrapper .waf-menu-select li ul li ul li ul{width:49%}
.web-app-wrapper .waf-menu-select li ul li ul li ul li{margin:0;width:100%}
.web-app-wrapper .required > label:after{content:' *';color:#C3232D}
.web-app-wrapper .radio > label[for]{font-weight:normal;display:inline}
.web-app-wrapper .input.radio,.web-app-wrapper .spaced{margin:0 0 1rem}
.web-app-wrapper button+button{margin-left:20px}
.web-app-wrapper .toggle{display:inline-block;border:1px solid #aaa;border-radius:5px;cursor:pointer;padding:2px 6px;margin:0 0 1em;font-size:0.8em;box-shadow:0 1px #eee}
.web-app-wrapper .small_text{font-size:0.85em}
.web-app-wrapper .description{background:#eee;padding:0 0.9375rem}
.web-app-wrapper .spacer{padding:0;margin:0;line-height:0.7em}
.web-app-wrapper .notes{padding:0;margin:0 0 1em;font-size:0.9em;font-style:italic}
.web-app-wrapper .notes button{font-size:0.875rem;color:#fff;background:#999;padding:7px 15px 7px 15px;margin:0 1em;font-style:normal}
.web-app-wrapper .with-notes{margin-bottom:0 !important}
.web-app-wrapper .gapabove{margin-top:1em !important}
.web-app-wrapper .nomargin{margin:0 !important}
.web-app-wrapper .center{text-align:center}
.web-app-wrapper .indent{margin-left:1em}
.web-app-wrapper .display-p{padding-left:1.1rem;margin-bottom:0.2rem}
.web-app-wrapper .display-ul{margin-bottom:0.2rem}
.web-app-wrapper .display-label{color:#666;display:block;float:left;min-width:250px;clear:left;margin-right:15px}
.web-app-wrapper .display-value{color:#000;display:block;float:left;min-width:250px;clear:right}
.web-app-wrapper .display-end{display:block;clear:both}
.web-app-wrapper .display-notes{color:#000;font-style:italic}
.web-app-wrapper .inline_wrapper>*{display:inline-block;margin-right:0.5em;margin-bottom:5px;width:auto}
.web-app-wrapper .inline_wrapper input,.web-app-wrapper .column_wrapper input{margin:0}
.web-app-wrapper .column_wrapper .notes{color:#555;font-size:0.9em;margin:0 0 0 0.5em}
.web-app-wrapper .column_wrapper{display:flex;align-items:flex-start}
.web-app-wrapper .column_wrapper>*{flex:1}
.web-app-wrapper .column_wrapper .column_wrapper{align-items:center}
.web-app-wrapper .column_wrapper .column_wrapper.zero *{color:#aaa}
.web-app-wrapper .column_wrapper .column_wrapper .form-type-header{padding:0 1em 0 0;line-height:1.2em;font-size:0.9em;font-weight:bold}
.web-app-wrapper .row_item{border-top:1px dotted #eee;padding:5px 0 0 0}
.web-app-wrapper .row_item.total{border-top:2px solid #ddd;border-bottom:2px solid #ddd}
.web-app-wrapper .row_item>*{margin-bottom:5px}
.web-app-wrapper .label_wrapper>*{color:#555;margin:0;padding-right:1em;fomt-weight:300}
.web-app-wrapper tr.highlight td{background-color:#262;color:#fff}
.web-app-wrapper tr.highlight td a{color:#4af}
.web-app-wrapper tr.highlight td a:hover{color:#fee}
.web-app-wrapper .error label,.web-app-wrapper .error label.error{color:#C3232D;font-weight:bold}
.web-app-wrapper .error textarea,.web-app-wrapper .error input{background-color:#fee}
.web-app-wrapper .error .error-message{color:#C3232D;font-size:0.8em;margin:0 0 0.5em}

