#wrapper-main .web-app-wrapper.paragraphs-item-form .webform-client-form table td.red  {background-color:#b94a48;color:white}
#wrapper-main .web-app-wrapper.paragraphs-item-form .webform-client-form table td.amber{background-color:#f89406;color:white}
#wrapper-main .web-app-wrapper.paragraphs-item-form .webform-client-form table td.green{background-color:#039b0b;color:white}
