#wrapper-main .web-app-wrapper.paragraphs-item-form .webform-client-form table td.red  {background-color:#FF7067;color:#000}
#wrapper-main .web-app-wrapper.paragraphs-item-form .webform-client-form table td.amber{background-color:#FFC04E;color:#000}
#wrapper-main .web-app-wrapper.paragraphs-item-form .webform-client-form table td.green{background-color:#97E982;color:#000}
#wrapper-main .web-app-wrapper.paragraphs-item-form .webform-client-form .waf-systems-availability .indicators{display:none}
/*
#wrapper-main .web-app-wrapper.paragraphs-item-form .webform-client-form .indicator{display:inline-block;width:16px;height:16px;border-radius:8px;border:2px solid #000;background-color:transparent}
#wrapper-main .web-app-wrapper.paragraphs-item-form .webform-client-form .indicator-red {border-color:#ED1C24}
#wrapper-main .web-app-wrapper.paragraphs-item-form .webform-client-form .indicator-amber{border-color:#FBB03B}
#wrapper-main .web-app-wrapper.paragraphs-item-form .webform-client-form .indicator-green{border-color:#00D697}
#wrapper-main .web-app-wrapper.paragraphs-item-form .webform-client-form table td.red .indicator-red{background-color:#ED1C24}
#wrapper-main .web-app-wrapper.paragraphs-item-form .webform-client-form table td.amber .indicator-amber{background-color:#FBB03B}
#wrapper-main .web-app-wrapper.paragraphs-item-form .webform-client-form table td.green .indicator-green{background-color:#00D697}
*/